body {
	font-family: 'Lato', sans-serif;
}

header {
    position: relative;
    height: 570px;
    text-align: center;
	background-image: url(../img/top1.jpg);	
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}

nav {
	padding: 10px;
}

nav ul li {
	text-decoration: none;
}

nav .menu-superior a:hover {
    background-color: #4aa786;
    padding: 10px 5px;
    border-radius: 4px;
    color: #FFF !important;
    transition: all ease-in-out .2s;
}

.nav-slim img {
	height: 45px;
	transition: all ease-in-out .5s;
}

img {
	padding-left: 0px;
	height: 70px;
} 
.busca {
	width: 480px;
	margin: 250px auto 0 auto;
}

.busca input {
	/*opacity: 0.5;*/
}

.busca label {
	font-size: 22px;
    color: white;
    text-shadow: 1px 1px 1px #333;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
}

.como-funciona {
	width: 100%;
	height: 637px;
	background-color: #f9f9f9;
}
h1 {
	font-size: 27px;
	text-align: center;
	padding: 50px 0;
	color: #00af87;
	text-transform: uppercase;
}


.highlight {
	color: #00af87;
}

.busca .input-group-text {
	padding: 0;
}


header .viaje-info {
	color: #FFF;
	position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
    background: rgba(0,0,0,0.5);
    font-size: 26px;
    line-height: 32px;
}

.como-funciona .card-title {
	color: #00af87;
	font-size: 18px;
}
.como-funciona .card-text {
	color: #666;
}

.contato {
    position: relative;
    height: 650px;
	background-image: url(../img/contato-1.jpg);	
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    overflow: hidden;
}
.contato .conteudo {
	margin: 0 auto;
}

footer {
    height: 200px;
    overflow: hidden;
    background-color: #666;
    padding: 50px;
}
footer a {
	color: #fff;
	line-height: 1.5em;
}

h2 {
	font-size: 18px;
	color: #fff;
	margin: 10px auto;
	display: block;
}
footer .fa {
	margin: 10px;
	font-size: 20px;
}

footer .social {
	text-align: right;
}

footer .disclaimer {
	color: #333;
	text-align: center;
	font-size: 12px;
}