body {
	font-family: 'Lato', sans-serif;
}

header {
	background-image: url(../img/top1.jpg);	
	background-size: cover;
    height: 42vw;
}

nav {
	padding: 10px;
}

nav ul li {
	text-decoration: none;
}

nav .menu-superior a:hover {
    background-color: #4aa786;
    padding: 10px 5px;
    border-radius: 4px;
    color: #FFF !important;
    transition: all ease-in-out .2s;
}

img {
	padding-left: 0px;
} 
.busca {
	width: 480px;
	margin: 250px auto 0 auto;
}

.busca input {
	/*opacity: 0.5;*/
}

.busca label {
	font-size: 22px;
    color: white;
    text-shadow: 1px 1px 1px #333;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 0;
}

.como-funciona {
	width: 100%;
	height: 42vw;
	background-color: #f9f9f9;
}
.como-funciona h1 {
	font-size: 27px;
	text-align: center;
	padding: 50px 0;
	color: #00af87;
}


.highlight {
	color: #00af87;
}

.busca .input-group-text {
	padding: 0;
}


header .viaje-info {
	color: #FFF;
	position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
    background: rgba(0,0,0,0.5);
    font-size: 26px;
    line-height: 32px;
}

.como-funciona .card-title {
	color: #00af87;
	font-size: 18px;

}